header {
    
    background-color: #ffffff;
  }

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 0px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: 0px 0px 0px 150px;
    width:960px;
    height: 650px;
    background:#ffffff
    /*margin: auto;*/
}

.clearfix {
    overflow: auto;
}

/*.row {
    margin: 8px -16px;
    width:960px;
    height: 500px;
    background:#ffffff;
}*/

/* Add padding BETWEEN each column (if you want) */

.row {
    margin: 0px;
    width:960px;
}

.row,
.row > .column {
    padding: 5px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
    
}

h3 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}